/*thead {
    color: #337AB7;
}

.clickableRow:hover {
    background: lightgreen;
}
*/

div.auto-complete span.ui-autocomplete {
    width:auto;
    zoom:1;
    cursor:pointer;
    box-shadow:none;
    position:relative;
    display:inline-block;
    width: 100%;
}

div.auto-complete div.ui-autocomplete-panel {
    background-color: #478bca;
    border-radius: 0 5px 5px 5px;
    border: 1px solid #33bcff;
    overflow: auto;
    position:absolute;
}

div.auto-complete div.ui-autocomplete-panel .ui-autocomplete-list {
    padding:.4em;
    border:0 none;
}

div.auto-complete div.ui-autocomplete-panel .ui-autocomplete-list-item {
    border:0 none;
    cursor:pointer;
    font-weight:400;
    margin:1px 0;
    padding:.186em .313em;
    text-align:left;
    list-style-type: none;
}

div.auto-complete div.ui-autocomplete-panel .ui-autocomplete-list-item:hover {
    background-color: #2c567d;
}

div.search-auto-complete div.ui-autocomplete-panel .ui-autocomplete-list {
    padding:.4em;
    border:0 none;
}

div.search-auto-complete div.ui-autocomplete-panel .ui-autocomplete-list-item {
    border:0 none;
    cursor:pointer;
    font-weight:400;
    margin:1px 0;
    padding:.186em .313em;
    text-align:left;
    list-style-type: none;
}